{
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^(react|crypto|express)$",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@ivyi/(.*)$",
    "^@/(.*)$",
    "",
    "^\\.\\./",
    "^\\./"
  ],
  "importOrderTypeScriptVersion": "5.0.0"
}